/* background stufs  */
body {
  background-image: url(menu-bg.png);
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
/* full menu 1*/
.menu {
  display: flex;
}
/* full menu 2 */
.menuu {
  display: flex;
  padding-top: 100px;
}
/* menu 1,2 */
.menu1 {
  width: 28%;
  background-color: #4593ce;
  margin-left: inherit;
  margin-right: auto;
  padding: 20px;
  border-radius: 8px;
}
/* menu 1,2 */
.menu2 {
  width: 28%;
  background-color: #4593ce;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 8px;
}
/* menu 1,2 */
.menu3 {
  width: 28%;
  background-color: #4593ce;
  margin-left: auto;
  margin-right: inherit;
  padding: 20px;
  border-radius: 8px;
}
/* only h1 tag */
h1 {
  text-align: center;
  color: white;
}
/* three tag at one time  */
h2,li,p {
  text-align: center;
}
/* menu text */
.established {
  font-style: italic;
  color: white;
  font-size: 30px;
}
/* items list  */
.item li {
  display: inline-block;
  margin: 5px 0;
  font-size: 18px;
}
/* menu cards  */
.flavor,
.dessert {
  width: 50%;
  text-align: left;
}
/* priceing  */
.price {
  width: 50%;
  text-align: right;
}
/* hr tag , line  */
hr {
  height: 2px;
  background-color: brown;
  border-color: black;
}
/* anchor tag  */
a {
  color: black;
}